[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"
jsonschema = "*"
jsonref = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
firebase-admin = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
flask-cors = "*"
flask-restful = "*"
flask-script = "*"
psycopg2 = "*"
gunicorn = "*"
google-auth = "*"
sqlalchemy-searchable = "*"

[requires]
python_version = "3.8"
